# Entorno
venv/
.env
__pycache__/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints/

# Quarto y render
.quarto/
_site/
*.quarto_ipynb_*

# Archivos de SO
.DS_Store
Thumbs.db
# Datos pesados o no utilizados
datos/iter_00_cpv2020_csv/
datos/Población con drenaje en el año 2020.xlsx

# Notas de investigación
plotly_quarto_legend_fix.md
datos/conjunto_de_datos_iter_00CSV20.csv
identidad_ui.md
